#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #14b489, #15af1c);

  th {
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}
